<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      We have noticed that you have <%= @cards_count %> unchecked cards.<br>
    </p>
    <p>To continue learning words just login our site: <%= @url %>.</p>
    <p>Happy learning!</p>
  </body>
</html>
