<h1>Все карточки</h1>
<div class="container">
  <div class="card-columns">
    <% @cards.each do |c| %>
      <a href= <%= card_path(c) %> class="custom-card" > 
        <%= render partial: 'content', locals: {card: c} %>
      </a>
    <% end %>
  </div>
</div>
