<h1>Добавить карточку</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @card do |f| %>
      <%= f.input :original_text %>
      <%= f.input :translated_text %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>