<h1>Все карточки</h1>
<div class="card-deck">
  <% @cards.each do |card| %>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><h3><%= card.original_text %></h3></h5>
        <p class="card-text"><%= card.translated_text %></p>
        <h6 class="card-subtitle mb-2 text-muted"><%= card.review_date.strftime("%d/%m/%Y") %></h6>
      </div>
    </div>
  <% end %>
</div>  