<%= render partial: 'content', locals: {card: @card} %>
<div class="modal-footer">
  <%= button_to 'Edit card', edit_card_path(@card), method: :get, class: 'btn btn-primary'  %>
  <%= button_to "Delete Card", card_path(@card), method: :delete,
                               data: { confirm: "You sure?" },
                               class: 'btn btn-primary' %>
</div>
