<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <div class="row">
  <div class="col-sm-12 text-xs-center bootstrap-welcome">
    <h1>Bootstrap 4 Works!</h1>
    <p class="lead">Go ahead and build your awesome app now.</p>
  </div>
  </div>

  <section id="container">

    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><a href="#">Все карточки</a></li>
        <li><a href="#">Добавить карточку</a></li>
      </ul>
    </header>

    <section>
      <div class="container">
        <%= yield %>
      </div>
    </section>

  </section>
</body>